<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>图文回帖展示</title>
  <link rel="stylesheet/less" href="./css/style.less">
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
  <script>
    // rem
    (function(scope){
      // 下面750对应设计稿的宽度
      // document.body.innerHTML = window.innerWidth;
      var ua = navigator.userAgent.toLocaleLowerCase();
      var eventName = 'onorientationchange' in scope ? 'orientationchange' : 'resize';
      var howLong = /chrome|firefox|ucbrowser|mqqbrowser/.test(ua) || (/safari/.test(ua) && /iphone/.test(ua)) ? 0 : 300;
      // app打开浏览窗体时可能第一时间无法获取浏览器宽度, 需循环
      var loop = function() {
        var winWidth = document.documentElement && document.documentElement.clientWidth ? document.documentElement.clientWidth : (window.screen ? window.screen.width : 0);
        var docWidth = window.innerWidth;
        // 宽度获取不成功延时执行
        if (!winWidth && !docWidth) return setTimeout(function() {
          loop();
        }, 100);
        var _width = !docWidth || (winWidth && winWidth < docWidth) ? winWidth : docWidth; // 兼容部分奇怪的安卓机
        document.documentElement.style.fontSize = (_width / 750 * 40) + 'px';
        scope.addEventListener(eventName, function(){
          clearTimeout(scope.orientationChangedTimeout);
          scope.orientationChangedTimeout = setTimeout(function(){
            document.documentElement.style.fontSize = (_width / 750 * 40) + 'px';
          }, howLong);
        }, false);
      };
      loop();
    }(window));
  </script>
  <script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>

</head>
<body>
  <div id="app">
    <ul class="article__list">
      <li class="article__item" v-for="(item, index) in articles">
        <div class="article__head">
          <div class="user--avatar" :style="{background: `center/100% url(${item.avatar}) no-repeat`}" ></div>
          <p class="user--name">{{ item.name }}</p>
        </div>
        <div class="article__main">
          <div class="article--content">{{ item.content }}</div>
          <div class="article__img--wrap" v-if="item.imgs.length === 1">
            <img class="article__img" :src="item.imgs[0]" alt="" @load="setStyle" />
          </div>
          <div class="article__img--list" v-if="item.imgs.length > 1">
            <div class="article__img--item" v-for="(img,  index) in item.imgs">
              <div class="article__img--bg">
                <img class="article__img":src="img" alt="" @load="setStyle">
              </div>
            </div>
          </div>
          <p class="article--time">{{ item.time }}</p>
        </div>
      </li>
    </ul>
  </div>

  <script>
  const maxContentLen = 85;
  const vm = new Vue({
    el: '#app',
    data: {
      articles: [
        {
          avatar: 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1885973396,380188832&fm=26&gp=0.jpg',
          name: '吉卜力',
          content: '吉卜力工作室（Ghibli），是一家日本动画工作室。成立于1985年中旬，原附属于德间书店，位于日本东京都近郊的小金井市，目前约有300名员工，由导演宫崎骏以及他的同事高畑勋、铃木敏夫等一起统筹，作曲家久石让也为吉卜力工作室的许多作品制作过电影音乐。工作室标识为其代表作品《龙猫》。',
          imgs: [
            'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2354379938,1616540489&fm=211&gp=0.jpg'
          ],
          time: '2017年5月18日 18:00'
        },
        {
          avatar: 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1885973396,380188832&fm=26&gp=0.jpg',
          name: '吉卜力',
          content: '目前约有300名员工，由导演宫崎骏以及他的同事高畑勋、铃木敏夫等一起统筹，作曲家久石让也为吉卜力工作室的许多作品制作过电影音乐。工作室标识为其代表作品《龙猫》。',
          imgs: [
            'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=235947137,4265040841&fm=26&gp=0.jpg',
            'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3403121710,1905730681&fm=26&gp=0.jpg'
          ],
          time: '2017年5月18日 18:00'
        },
        {
          avatar: 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1885973396,380188832&fm=26&gp=0.jpg',
          name: '吉卜力',
          content: '“吉卜力”（Ghibli）是由宫崎骏命名，意思是在撒哈拉沙漠上季节热风，在纪录片《梦与狂想的世界》中，宫崎骏提到“吉卜力”是他从一架飞机的名字随便取来的。',
          imgs: [
            'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2957370154,1955649494&fm=26&gp=0.jpg',
            'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1406025163,47635157&fm=26&gp=0.jpg',
            'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2293969994,861205959&fm=26&gp=0.jpg',
            'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1075527549,4176547431&fm=26&gp=0.jpg',
            'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3479164320,3398402085&fm=26&gp=0.jpg',
            'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=312460592,3594793670&fm=26&gp=0.jpg',
            'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3616448576,1205001905&fm=26&gp=0.jpg',
            'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2681513404,2939072703&fm=26&gp=0.jpg',
            'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3000601793,33069105&fm=26&gp=0.jpg'
          ],
          time: '2017年5月18日 18:00'
        }
      ],
      style: null
    },
    methods: {
      setStyle(e) {
        const img = e.target
        const imgWidth = img.offsetWidth
        const imgHeight = img.offsetHeight
        if (imgWidth > imgHeight) {
          img.style.height = '100%'
        } else if (imgWidth < imgHeight) {
          img.style.width = '100%'
        }
      }
    }
  })
  </script>
</body>
</html>